#*
*#
*.swp
*~
.DS_Store
.blobs
.dev_builds
.final_builds/jobs/**/*.tgz
.final_builds/packages/**/*.tgz
.idea
assets/
backups/*
blobs/
config/private.yml
config/dev.yml
dev_releases/
releases/**/*.tgz
src/
stemcells/
